$font-color: black;
$link-color: #2579c7;
$link-hover-color: darken($link-color, 15%);

@import "vendor/pure"; 
@import "vendor/metismenu";
@import 'partials/mixins';
@import "partials/sidebar";
@import "partials/slideout";
@import "partials/hamburgers";
@import 'partials/typography';
@import "partials/default";  