html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.flex-container {
    display: flex;
}

.header-hr {
    border: 0;
    height: 0;
    /* Firefox... */
    box-shadow: 0 0 5px 1px #2579c7;
    margin-bottom: 30px;
}

code {
    white-space: pre-line;
}

.page-title {
    margin-bottom: 0px;
}

.content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1170px;
    margin-bottom: 50px;
}

.toc-page {
    >ol {
        padding-left: 0;
    }
    ol {
        @media only screen and (max-width: 800px) {
            padding-left: 15px;
        }
        counter-reset: item;
        font-weight: 500;
        ol {
            font-weight: 300;
            ol {
                font-size: 90%;
            }
        }
    }
    li {
        display: block
    }
    li:before {
        content: counters(item, ".") " ";
        counter-increment: item
    }
}