$menu-bg-color:#1f1f1f;
$menu-sec-color:unquote('#2579c7c2'); 
.sidebar-nav {
    background: $menu-bg-color;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: $menu-bg-color; 
    }
    .metismenu {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        li {
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative;
        }
        a {
            position: relative;
            display: block;
            padding: 13px 15px;
            color: #adb5bd; 
            outline-width: 0;
            transition: all .2s ease-in-out;
        }
        ul>li {
            padding-left: 1px;
            border-left: 3px solid $menu-sec-color;
            background: rgba(255, 255, 255, .05);
        }
        ul ul{
           background: rgba(255, 255, 255, .02);
        }
        a:hover,
        .metismenu a:focus,
        a:active {
            color: #f8f9fa;
            text-decoration: none;
            background: $menu-sec-color;
        }
        a[aria-expanded="true"] {
            background-color: $menu-sec-color;
        }
    }
}

.sidebar-brand {
    display: flex;
    color: white;
    height: 65px;
    line-height: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    h3 {
        font-weight: 400;
    }
}
