$menu-bg-color:#1f1f1f;
$menu-sec-color: #455a64;
$menu-font-color: #adb5bd;
.sidebar-nav {
    background: $menu-bg-color;
    a,
    li,
    ul {
        @include fluid-type(320px, 1200px, 16px, 18px);
    }
    .sidebar-brand-link{
        color: red;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: $menu-bg-color;
    }
    .metismenu {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        li {
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative;
        }
        a {
            position: relative;
            display: block;
            padding: 15px 15px;
            color: $menu-font-color;
            outline-width: 0;
            transition: all .2s ease-in-out; 
        }
        ul>li {
            padding-left: 1px;
            border-left: 3px solid $menu-sec-color; 
            background: rgba(255, 255, 255, .05);
        }
        ul ul {
            background: rgba(255, 255, 255, .02);
        }
        a:hover,
        .metismenu a:focus,
        a:active {
            color: #f8f9fa;
            text-decoration: none;
            background: $menu-sec-color;
        }
        a[aria-expanded="true"] {
            background-color: $menu-sec-color;
        }
        .active-page{
            font-weight: 500;
            color: #f8f9fa;
        }
    }
}

.sidebar-brand {
    display: flex;
    color: #f8f9fa;
    height: 65px;
    line-height: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    &:hover{
      color: $menu-font-color;
    }
}